-- Ensure messages table sends full records on delete for Realtime filtering
ALTER TABLE public.messages REPLICA IDENTITY FULL;

-- Ensure is_whisper_mode exists on conversations
ALTER TABLE public.conversations ADD COLUMN IF NOT EXISTS is_whisper_mode BOOLEAN DEFAULT FALSE;
