-- Function to delete expired ephemeral messages
CREATE OR REPLACE FUNCTION delete_expired_messages()
RETURNS void AS \$\$
BEGIN
    DELETE FROM public.messages 
    WHERE expires_at IS NOT NULL AND expires_at < NOW();
END;
\$\$ LANGUAGE plpgsql;
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS share_data JSONB;
