-- 1. Drop old triggers and functions
DROP TRIGGER IF EXISTS trigger_message_expiration ON public.message_read_receipts;
DROP FUNCTION IF EXISTS set_message_expiration();
DROP FUNCTION IF EXISTS delete_expired_messages();

-- 2. Create the Instagram-style cleanup function
CREATE OR REPLACE FUNCTION cleanup_vanish_mode_messages(p_conversation_id UUID)
RETURNS void AS \$\$
BEGIN
    -- Delete messages that are ephemeral and have been read by ANY recipient
    DELETE FROM public.messages m
    WHERE m.conversation_id = p_conversation_id
      AND m.is_ephemeral = true
      AND EXISTS (
          SELECT 1 FROM public.message_read_receipts r 
          WHERE r.message_id = m.id 
          AND r.user_id != m.sender_id
      );
END;
\$\$ LANGUAGE plpgsql;
